# =====================
# PostgreSQL
# =====================
POSTGRES_DB=<kittygram_database>
POSTGRES_USER=<kittygram_database_user>
POSTGRES_PASSWORD=<kittygram__database_password>

# =====================
# Database connection
# =====================
DB_HOST=localhost
DB_PORT=5432